@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <br />
            <h1 align="center" class="welcome">Welcome</h1>
            <h3 align="center">To</h3>
            <h2 align="center">APTA-Conference Management System</h2>
        

        <h4 class="margin-50">Meet the Team</h4>
        <div class="column">
            <div class="card">
                <div class="team-container">
                    <h4>Anju Maharjan</h4>
                    <h5 class="title">s4622458</h5>
                    <h4>Master of Applied Information Technology</h4>
                    <a href="www.vu.edu.au/vu-sydney"<h4>Victoria University Sydney</h4></a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="team-container">
                    <h4>Yasoda Rai</h4>
                    <h5 class="title">s4623250</h5>
                    <h4>Master of Applied Information Technology</h4>
                    <a href="www.vu.edu.au/vu-sydney"<h4>Victoria University Sydney</h4></a>
                </div>
            </div>
        </div>

    </div>
